{{!-- Розмітка для шаблонізатора Хенделбарс (перед цім встановила плагін для парсела) --}}
{{#each this}}
<div class="gallery__item">
    <a class="gallery__item" href="{{original}}">
        <img class="gallery__image" src="{{preview}}" alt="{{description}}" />
    </a>
</div>
{{/each}}